body{margin:0;padding:0;font-family:sans-serif;background:#0a0a0a;color:#fff}
header{padding:10px;text-align:center;background:#1b5e20;color:#fff;font-size:24px;font-weight:bold}
main{padding:20px}
input,select,button{padding:10px;margin:5px;border-radius:5px;border:none}
input,select{width:calc(100% - 22px)}
button{background:#1b5e20;color:#fff;cursor:pointer}
button:hover{opacity:0.8}
#downloader, #browser-controls, #tab-controls{display:flex;flex-direction:column;align-items:center;margin-bottom:20px}
#home-ads,#browser-ads{text-align:center;margin-top:20px}
.hidden{display:none}
#iframe-container iframe{width:100%;height:70vh;border:none}
