body{
  margin:0;
  font-family: Arial;
  background:#f2f6fb;
}

.opera-home{
  text-align:center;
}

.top-bar{
  background:#0078ff;
  color:white;
  padding:15px;
}

.search-box{
  margin:20px;
}

.search-box input{
  width:70%;
  padding:12px;
  border-radius:20px;
  border:1px solid #ccc;
}

.search-box button{
  padding:12px 16px;
  border:none;
  background:#0078ff;
  color:white;
  border-radius:20px;
}

.quick-actions{
  display:flex;
  justify-content:space-around;
  margin:20px;
}

.quick-actions div{
  background:white;
  width:80px;
  height:80px;
  border-radius:15px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:14px;
  box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.browser-bar{
  display:flex;
  padding:8px;
  background:#0078ff;
}

.browser-bar input{
  flex:1;
  padding:8px;
  border-radius:10px;
  border:none;
}

.browser-bar button{
  margin-left:5px;
  padding:8px;
  border:none;
  background:white;
  border-radius:10px;
}

iframe{
  width:100%;
  height:90vh;
  border:none;
}
